/* =========================================================
IMPORTED CSS 
========================================================= */
@import "@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');";


/* =========================================================
BASE STYLES - 36:00
========================================================= */
body {
    font-size: 16px;
    font-family: 'Josefin Sans', sans-serif;;
}

.container {
    display: flex;
    min-height: 100vh;
}

.left {
    width: 60%;
    background-image: url("/images/bg-pattern-desktop.svg"),
                      linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
    background-position: center;
    background-size: cover;
}

.inner-container {
    margin: auto;
    width: 420px;
}

.right {
    background-image: url("/images/hero-desktop.jpg");
    width: 40%;
}